In [75]:
import pandas as pd
import csv
import glob
import json
import numpy as np
import os
from shapely.geometry import Polygon
from shapely.geometry import point

# Heading 1
This notebook gives 3 csv files based upon predicted results with an array of results, predicted results with empty array of results and finally both of them combined for further analyses of data.
## Heading 1.1
In below cell: Iterating over the json files and creating two dataframes. df_predicted for the json files returned as an array of results and df_empty returned as an empty array of results by the algorithm.

In [87]:
def get_biggest_rect(d):
    poly_array = []
    for c in d['results']:
        points = c['coordinates']
        po_array = []

        for xydict in points:
            po = Point(xydict['x'], xydict['y'])
            po_array.append(po)
        coords = [(pi.x,pi.y) for pi in po_array]
        poly = Polygon(coords)
        poly_array.append(poly.area)
    #                 print(poly_array)
    index = np.argmax(poly_array)
        #  for p ,take each x and y store in array of points                    
        # create polygon and find area, put in a array of area
    #               #max of area array and find position
    plate = d["results"][index]["plate"]
    conf = d["results"][index]["confidence"]    
        
            
    return (plate,conf)

In [88]:
os.chdir('/home/waqas/Desktop/data_upload/')

filelist = []

for files in glob.glob("*.json"):
    filelist.append(files)

df_predicted = pd.DataFrame()
df_empty = pd.DataFrame()

for file in filelist:
    with open(file, 'r') as json_data:
        try:
            data = json.load(json_data)
             
            if (len(data["results"]) == 1):
                plate = data["results"][0]["plate"]
                conf = data["results"][0]["confidence"]
                df_predicted = df_predicted.append({'num_plate': plate,'conf': conf, 'filename': file.strip('.json')}, ignore_index=True)
                
            elif (len(data["results"]) > 1):
                plate, conf = get_biggest_rect(data)
                df_predicted = df_predicted.append({'num_plate': plate,'conf': conf, 'file_name': file.strip('.jpg.json')}, ignore_index=True)

            elif (len(data["results"]) == 0):
                plate1 = data["results"]
                conf1 = data["results"]
                df_empty = df_empty.append({'num_plate': plate1,'conf': conf1, 'file_name': file.strip('.json')}, ignore_index=True)
        except Exception as e:
            print(e)

name 'Point' is not defined
name 'Point' is not defined
name 'Point' is not defined
name 'Point' is not defined

In [89]:
df_predicted.head()

        conf filename num_plate
0  92.748634    2irsh   5ZGJ141
1  93.966141   7wz1kb   JKR0460
2  93.686287   wvcu4t   6UMZ928
3  93.936813   e4t0rh   JWY1682
4  94.003212    rywyu    IIKQ83

In [139]:
df_predicted = pd.read_csv('/home/waqas/Desktop/hula.csv', sep='\t', index_col=None)
# df_predicted_adding_plate = df_predicted['filename'].astype(str) + '.plate'
# df_predicted['filename'] = df_predicted_adding_plate
df_predicted = df_predicted.drop(columns='Unnamed: 0')
# df_predicted.columns = ('conf', 'filename', 'result')
# columns1 = ['filename', 'conf', 'result',]
# df_predicted = df_predicted.reindex(columns=columns1)
df_predicted
# save = df_predicted.to_csv('bm.tab', sep='\t', index=None, header=None)

         conf filename num_plate
0   92.748634   o2irsh   5ZGJ141
1   93.966141   7wz1kb   JKR0460
2   93.686287   wvcu4t   6UMZ928
3   93.936813   e4t0rh   JWY1682
4   94.003212   nrywyu    IIKQ83
5   94.166267   ntj8e8   DSG3968
6   93.419357   98wvae   JHL0864
7   93.886017   zg9ygd    RY4375
8   93.396233   699i1d    J95HSW
9   93.350975   osgyeh   FGP9075
10  94.085922   ztp5pn    BMMA43
11  94.156639   337tf4     AKU4X
12  94.367775   8atx7d   JKD4401
13  93.388428   1u9q4z   EXT4801
14  94.686531   lbzjjo    ESPH18
15  94.090866   twwoyh    ARWT42
16  94.912315   16wah3   1410380
17  93.757629   57pbsj   JWH1356
18  93.423180   w08ovi   JWB4859
19  93.752274   kbzbpv   BZK1010
20  93.969650   4dh9gq   JMZ6667
21  93.027657   krva4r   KBY9139
22  87.226357   m73w3f   JVJ3601
23  94.223450   js8xt6   RET7546
24  93.717049   u0pubs   JFR1749
25  94.280174   4k6jqd   JNT8044
26  94.061989   7z2pxp   KHJ4574
27  94.674240    u0pub   7NJZ163
28  87.662376   scb14r   HXV4809
29  94.017052   4ri7c4   JBH9456
..        ...      ...       ...
66  93.703331   ssealv   JJM5950
67  93.338829   7qkxlx   JFR2006
68  93.662064   qufu8j   FZX6062
69  93.776489   6heml7   GVN1777
70  89.293968   onpu6a   7ZLF262
71  93.446968   zthhhz   HWT7362
72  84.625343   mpbli4    WU0223
73  93.278809   h1ijdo   7XMF020
74  93.175613   x1up8p   KGV7434
75  93.823013   fbq92k   KJB0893
76  93.280655   gjpe1m    DL5L8E
77  93.899826   w31ws0    JAPBAP
78  92.951096   yuqrm8   BNH4423
79  93.259552   p5ixva   X401619
80  93.093849   8fme6w   FYW4249
81  92.835342   eixx3i   RGW4615
82  93.399811   f3i3fb   JVR5970
83  93.867409   99ejno   JFS8867
84  93.748413   tdxmlp   JCN9457
85  94.018906   o7at7q    VZD848
86  79.627510   tl5o8q   4TOC807
87  94.257111   j25zrr   JTA6573
88  93.845123   xic1el    K639VT
89  94.557449   ssealv   HFG7081
90  94.867561   jn7x1q   HKC4967
91  92.951752   izzts9   FZK2219
92  93.203453   chbeyn   HVN9363
93  94.136986   0iuunu    MSU494
94  94.427643   73ow7i   CGY0536
95  92.468269   lnpbfb   BXX5701

[96 rows x 3 columns]

In [135]:
# df_predicted = pd.read_csv('predicted_alpr.csv', sep='\t')
df_predicted.head()

       filename       conf   result
0  o2irsh.plate  92.748634  5ZGJ141
1  7wz1kb.plate  93.966141  JKR0460
2  wvcu4t.plate  93.686287  6UMZ928
3  e4t0rh.plate  93.936813  JWY1682
4  nrywyu.plate  94.003212   IIKQ83

In [140]:
os.chdir('/home/waqas/sandbox/bas/bas1/code/')

df = pd.read_csv('gt_exp.csv', sep=',')

# df['filename'] = df['filename'].apply(lambda x: x.strip('.jpg'))

stripped = df.filename.str.replace('.jpg','')
df['filename'] = stripped
df = df.drop(columns='results')
df.head()

both = df.merge(df_predicted, left_on='filename', right_on='filename', how='inner')
both.loc[(both['gt'] == both['num_plate'])]
# # both

   filename       gt       conf num_plate
0    nrywyu   IIKQ83  94.003212    IIKQ83
1    gjpe1m   DL5L8E  93.280655    DL5L8E
2    fbq92k  KJB0893  93.823013   KJB0893
3    x1up8p  KGV7434  93.175613   KGV7434
4    eixx3i  RGW4615  92.835342   RGW4615
5    7qkxlx  JFR2006  93.338829   JFR2006
6    ztp5pn   BMMA43  94.085922    BMMA43
7    t16wm3  6NBN160  93.350716   6NBN160
8    2sqg9j  JMV7864  92.880692   JMV7864
9    mpbli4   WU0223  84.625343    WU0223
10   e4t0rh  JWY1682  93.936813   JWY1682
11   gfmc0k   Y16XMQ  94.613480    Y16XMQ
12   f3i3fb  JVR5970  93.399811   JVR5970
13   7qbafv  JFB2844  92.282494   JFB2844
14   lnpbfb  BXX5701  92.468269   BXX5701
15   qufu8j  FZX6062  93.662064   FZX6062
16   d6k97y  GVM2403  94.551422   GVM2403
17   u8z9zk   9A55C9  93.447029    9A55C9
18   7z2pxp  KHJ4574  94.061989   KHJ4574
19   699i1d   J95HSW  93.396233    J95HSW
20   2q8wet  GDL2987  93.339165   GDL2987
21   h1ijdo  7XMF020  93.278809   7XMF020
22   osgyeh  FGP9075  93.350975   FGP9075
23   xarcw2  JCT2124  93.640404   JCT2124
24   scb14r  HXV4809  87.662376   HXV4809
25   tdxmlp  JCN9457  93.748413   JCN9457
26   4k6jqd  JNT8044  94.280174   JNT8044
27   zthhhz  HWT7362  93.446968   HWT7362
28   o7at7q   VZD848  94.018906    VZD848
29   1y4o6d  7BYJ554  93.590477   7BYJ554
..      ...      ...        ...       ...
64   vmzv7b  JXA3955  93.571999   JXA3955
65   1u9q4z  EXT4801  93.388428   EXT4801
66   p5ixva  X401619  93.259552   X401619
67   s1fcgt  6WWK471  93.255295   6WWK471
68   73ow7i  CGY0536  94.427643   CGY0536
69   zg9ygd   RY4375  93.886017    RY4375
70   wvcu4t  6UMZ928  93.686287   6UMZ928
71   w31ws0   JAPBAP  93.899826    JAPBAP
72   bimqlm  YGW2225  93.330894   YGW2225
73   onpu6a  7ZLF262  89.293968   7ZLF262
74   ntj8e8  DSG3968  94.166267   DSG3968
75   twwoyh   ARWT42  94.090866    ARWT42
76   dd7vgz  JPA3753  93.720284   JPA3753
77   krva4r  KBY9139  93.027657   KBY9139
78   t4b38h  ZCC8118  93.689384   ZCC8118
79   rrgvv7  HGC6533  93.858414   HGC6533
80   qeqkkt   461ACD  94.040840    461ACD
81   57pbsj  JWH1356  93.757629   JWH1356
82   99ejno  JFS8867  93.867409   JFS8867
84   ssealv  HFG7081  94.557449   HFG7081
85   jn7x1q  HKC4967  94.867561   HKC4967
86   yuqrm8  BNH4423  92.951096   BNH4423
87   4ri7c4  JBH9456  94.017052   JBH9456
88   js8xt6  RET7546  94.223450   RET7546
89   pps0kh  6TFG504  94.795357   6TFG504
90   gbfux6  DHV8092  93.695198   DHV8092
91   f2u1nn  EYD6171  93.483139   EYD6171
92   izzts9  FZK2219  92.951752   FZK2219
93   615n46  1804029  94.355171   1804029
94   o95wpk  HDS3398  92.625267   HDS3398

[93 rows x 4 columns]

In [121]:
s = df.to_csv('bm_gt.csv', sep='\t', index=None)

In [127]:
frame = pd.read_csv('bm_gt.csv',sep='\t',index_col=None)
frame['filename'] = frame['filename'].astype(str) + '.plate'
s = frame.to_csv('bm_gt.tab', sep='\t', index=None)

# Heading
Adding '.plate' as string at the end of filename to fulfill the requirements of proper input file format for text_recognition_report.py script to generate report and reindexing columns for both data frames of df_predicted and df_empty

In [110]:
df_predicted_adding_plate = df_predicted['file_name'].astype(str) + '.plate'
df_predicted['file_name'] = df_predicted_adding_plate

df_empty_adding_plate = df_empty['file_name'].astype(str) + '.plate'
df_empty['file_name'] = df_empty_adding_plate

In [113]:
df_predicted = df_predicted.reindex_axis(['file_name','conf','num_plate'], axis=1)
# df_predicted.to_csv('predicted.tab')

/home/waqas/sandbox/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """Entry point for launching an IPython kernel.

In [114]:
df_empty = df_empty.reindex_axis(['file_name','conf', 'num_plate'], axis=1)
df_empty.head()

/home/waqas/sandbox/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """Entry point for launching an IPython kernel.

                              file_name conf num_plate
0  Schadenbild4975866735548555965.plate   []        []
1  Schadenbild6609957043055328597.plate   []        []
2  Schadenbild4314339210343503209.plate   []        []
3  Schadenbild8171571715825371596.plate   []        []
4  Schadenbild2748210933879861229.plate   []        []

# Heading
All NaN values inside confidence scores and number plates are replaced by zeros. This is because text_recognition_report.py does not generate a report if any column has empty values. Then all 3 data frames are saved as csv files

In [115]:
df_empty_replace_conf = df_empty['conf'].str.replace('',' ')
df_empty['conf'] = df_empty_replace_conf
df_empty.head()

                              file_name  conf num_plate
0  Schadenbild4975866735548555965.plate   NaN        []
1  Schadenbild6609957043055328597.plate   NaN        []
2  Schadenbild4314339210343503209.plate   NaN        []
3  Schadenbild8171571715825371596.plate   NaN        []
4  Schadenbild2748210933879861229.plate   NaN        []

In [116]:
df_empty_replace_numplate = df_empty['num_plate'].str.replace('',' ')
df_empty['num_plate'] = df_empty_replace_numplate
df_empty.head()

                              file_name  conf  num_plate
0  Schadenbild4975866735548555965.plate   NaN        NaN
1  Schadenbild6609957043055328597.plate   NaN        NaN
2  Schadenbild4314339210343503209.plate   NaN        NaN
3  Schadenbild8171571715825371596.plate   NaN        NaN
4  Schadenbild2748210933879861229.plate   NaN        NaN

In [117]:
df_empty['conf'] = df_empty['conf'].fillna(0)
# df_empty['num_plate'] = df_empty['num_plate'].fillna(0)
df_empty.head()

                              file_name  conf  num_plate
0  Schadenbild4975866735548555965.plate   0.0        NaN
1  Schadenbild6609957043055328597.plate   0.0        NaN
2  Schadenbild4314339210343503209.plate   0.0        NaN
3  Schadenbild8171571715825371596.plate   0.0        NaN
4  Schadenbild2748210933879861229.plate   0.0        NaN

In [118]:
len(df_empty)

202

In [119]:
len(df_predicted)

376

In [120]:
predicted_empty_result = df_empty.to_csv('predicted_empty_results', sep='\t', header=None, index=False)
predicted_results = df_predicted.to_csv('predicted_results.tab', sep='\t', header=None, index=False)

In [104]:
frames = [df_predicted, df_empty]
result = pd.concat(frames)
result = result.reindex_axis(['file_name','conf','num_plate'], axis=1)
result.head()

/home/waqas/sandbox/venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                              file_name       conf num_plate
0  Schadenbild2027301964821208139.plate  94.551437  VS391336
1  Schadenbild7772594729924649689.plate  84.836838  ZH505290
2  Schadenbild5386782080716172235.plate  94.785484  ZH435140
3   Schadenbild227649534025034665.plate  94.769035   FR76558
4  Schadenbild5049037477513510056.plate  61.739502   909TG9S

In [105]:
result = result.to_csv('predicted_combined.tab', sep='\t', header=None, index=False)